main {
    margin-top: 100px; /* or however tall your header is */
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: medium;
    background-color: #F8FAFC;
    color: #1F2937;
    margin: 0; /* Important: removes default browser spacing */
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(160deg, #cdecce, #9ec57c); 
    min-height: 100vh;
}

header {
    background-color: rgb(59, 201, 59); /* Green header */
    color: rgb(0, 0, 0);
    width: 100vw; /* Make sure it spans the full width */
    padding: 1% 2rem; /* Top/bottom padding increased to 2% */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-sizing: border-box; /* Ensures padding doesn’t mess with width */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* soft shadow */
}

.header-welcometext {
    font-size: 1.5rem; /* Adjust as needed */
    font-weight: bold;
    color: #272727; /* Black text */
    display: block;
}

.Nav-Bar_Hcd {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.1rem;
    gap: 1.3rem; /* Keep some gap between items */
    align-self: center;
    bottom: 35%;
    left: 1700px;
    transition: transform 0.3s ease;
    
}

.Nav-Bar_Hcd a {
    transition: transform 0.3s ease; /* Smooth scaling effect */
    color: #ffffff;
}

.Nav-Bar_Hcd a i { /* Icons for font awesome editing basically really good tool*/
    font-size: 24px;
}

.Nav-Bar_Hcd a:hover {
    transform: scale(1.2); /* Slightly enlarge the link on hover */
    color: #EEA23D;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add subtle text shadow */
}

hr {
    width: 100%;
    height: 1px;
    background-color: #000;
    border: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.Mission-Header {
    display: flex;
    justify-content: center;
    align-items: center;
}